logfile         = 'phpKontrol'
mqtt_broker     = 'localhost'		# default: 'localhost'
mqtt_port       = 1883			# default: 1883
mqtt_clientid   = 'client_1'		# must be unique!
mqtt_username	= 'user'
mqtt_password	= 'pass'
mqtt_tls        = None			# default: No TLS

topiclist = {
	"devices/cmd"	:   {
		'client_1_ON'	:   [ '/usr/bin/touch', '/tmp/file.one' ],
		'client_1_OFF'	:   [ '/bin/rm', '-f', '/tmp/file.one' ],
	},
}
